<!-- Subscriber Section Start -->
<section id="subscriber">
    <div class="container">
        <div class="section-header">
            <h3>Get Latest Food Info</h3>
        </div>

        <div class="row">
            <div class="col-12">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter Your Email">
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Subscriber Section end -->


<!-- Footer Start -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copyright">
                    <p>&copy; Copyright <a href="">chefconnect.com.vn</a>. All Rights Reserved</p>

                   
                    <p>Designed By <a href="https://github.com/phuctran362003">PhucDev</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="icon">
                    <li><a href="https://www.facebook.com/notkevintran/" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="https://github.com/phuctran362003" class="fa fa-github"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
<!-- Footer end -->